<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" th:href="@{/css/registrationas.css}">
    </head>
<body>
    <h1>Welcome to the Library System</h1>

    <div>
        <button onclick="window.location.href='/LIBRARY/register/member'" class="member">Register as Member</button>
        
        
        <a href="/LIBRARY/home">Back to Home</a><br>
    </div>

    </body>
</html>